.kenzap .kp-timetable-2 .kenzap-container {
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.kenzap .kp-timetable-2 .kenzap-container.admin {
  width: 1270px;
  overflow-x: auto;
}

.kenzap .kp-timetable-2 .kp-header.admin ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.kenzap .kp-timetable-2 .kp-header.admin ul li:hover .remove {
  opacity: 1;
  right: 5px;
}

.kenzap .kp-timetable-2 .kp-content ul li.itemEdit {
  position: relative;
}

.kenzap .kp-timetable-2 .kp-content ul li:hover .remove {
  opacity: 1;
  height: 20px;
  width: 20px;
  right: 5px;
}

.kenzap .kp-timetable-2 .kp-content ul li:hover .remove p {
  background: #000;
  height: 20px;
  width: 20px;
}

.kenzap .kp-timetable-2 .kp-content ul li:hover .addItem {
  opacity: 1;
}

.kenzap .kp-timetable-2 .kp-content ul li:hover {

}

.kenzap .kp-timetable-2 .kp-content ul li {
  background: #f7f7f7;
  text-align: center;
  width: 18%;
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid #d0d0d0;
  font-size: 16px;
  color: #909090;
  padding: 10px;
  height: 101px;
  font-weight: 300;
  line-height: 101px;
  border-bottom: 1px solid #f1f1f1;
  margin: 0 0px 0 0;
  position: relative;
}

.kenzap .kp-timetable-2 .kp-content.admin .row-edit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.kenzap .kp-timetable-2 .kp-content ul li.deleteRow {
  cursor: pointer;
}

.kenzap .kp-timetable-2 .kp-content .addRow {
  background: #f7f7f7;
  text-align: center;
  width: 18%;
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid #d0d0d0;
  font-size: 16px;
  color: #909090;
  padding: 10px;
  height: 101px;
  font-weight: 300;
  line-height: 101px;
  border-bottom: 1px solid #f1f1f1;
  margin: 0 0px 0 0;

  text-align: center;
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d0d0d0;
  line-height: 80px;
  cursor: pointer;

}

.kenzap .kp-content-select ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kenzap .kp-content-select ul li {
  width: 20px;
  height: 20px;
  background: #39b54a;
  cursor: pointer;
  margin: 0 2px;
}

.kenzap .kp-timetable-2 .kp-content ul li span .kp-nameAdmin {
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-weight: normal
}

.kenzap .kp-timetable-2 .kp-mobile ul li span .kp-nameAdmin {
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-weight: normal
}

.kenzap .kp-timetable-2.kenzap-md .kp-content ul li span .kp-nameAdmin {
  margin: 10px 0 0;
}

.kenzap .kp-timetable-2.kenzap-sm .kp-mobile,
.kenzap .kp-timetable-2.kenzap-xs .kp-mobile {
  display: block
}

@media screen and (max-width: 61.938em) {
  /* width: 991px; */
  .kenzap .kp-timetable-2 .kp-content ul li span .kp-nameAdmin {
    margin: 10px 0 0;
  }
}


.kenzap .kp-timetable-2 .addItem {
  opacity: 0;
  border: 0;
  background: transparent;
  border-radius: 50%;
  color: white;
  z-index: 99;
  cursor: pointer;
  line-height: 1;
  font-family: dashicons;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  height: 100%;
  width: 50%;
}

.kenzap .kp-timetable-2 .addItem svg {
  width: 100%;
  height: 100%;
  fill: #bbb;
}

.kenzap .kp-timetable-2 .remove {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0;
  border: 0;
  background: #000;
  border-radius: 50%;
  color: white;
  z-index: 99;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;

  &:hover {
    color: #CCC;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kp-timetable-2 .kp-item:hover .remove, .kenzap .kp-timetable-2 .kp-filter li:hover .remove {
  opacity: 1;
}

.kenzap .kp-timetable-2 .addWhite {
  position: absolute;
  display: none;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 5px;
  border: 0;
  background: white;
  box-shadow: inset 0 0 50px white;
  color: rgba(10, 24, 41, 0.7);
  cursor: pointer;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    margin-bottom: 5px;
  }

  &:hover {
    color: #191e23;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kp-timetable-2 {
  position: relative;
}

.kenzap .kp-timetable-2.selected {

  & .addWhite {
    display: flex;
  }

  .editPadding {
    padding: 0 0 100px;
  }
}

.kenzap .kp-timetable-2 .kp-clock-image {
  background-image: url(images/clock.png);
  background-position: center;
  background-repeat: no-repeat;
}

.kenzap .kp-timetable-2-link-popover {
  z-index: 10000;
}

.kenzap .kp-timetable-2-link-popover > div {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  align-items: center;

  .popover {
    padding: 0 5px;
    min-width: 170px;
  }
}